<div class="container col-md-10">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Origen de Arilla</h3>
        </div>
        <div class="card-body">
            <form action="">

                <div class="form-group">
                    <label for="">Origen:</label>
                    <input [(ngModel)]="arcilla.origen" name="origen" type="text" class="form-control">
                </div>

                <button (click)="createArcilla()" class="btn btn-danger">Agregar</button>
            </form>
        </div>
    </div>
</div>