<div class="container col-md-10">
    <div class="card">
        <div class="card-header">
            <h3>Registro Recepción Arcilla</h3>
        </div>
        <div class="card-body" style=" height:800px; overflow:auto;">
            <table class="table table-hover" cellspacing="0" cellpadding="1">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>FECHA</th>
                        <th>COOPERATIVA</th>
                        <th>CONDUCTOR</th>
                        <th>ARCILLA</th>
                        <th>COSTO</th>
                    </tr>
                </thead>
                <tbody>
                    <td></td>
                    <tr *ngFor="let recepcionarcilla of recepcionarcillalist" class="text-center">
                        <td>{{recepcionarcilla.idrecepcionarcilla}}</td>
                        <td>{{recepcionarcilla.fecha}}</td>
                        <td>{{recepcionarcilla.nombre}}</td>
                        <td>{{recepcionarcilla.conductor}}</td>
                        <td>{{recepcionarcilla.origen}}</td>
                        <td>{{recepcionarcilla.costo}}</td>
                        <td>
                            <button class="btn btn-secondary"><mat-icon>edit</mat-icon></button>
                            <button class="btn btn-danger"><mat-icon>delete</mat-icon></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>