<div class="card-body" style=" height:900px; overflow:auto;" >
    

    <button (click)="goRecepionArcilla()" class="button">
        <img class="iconbut" src="assets/img/camion.png"/>
        <br>
        Recepción Arcilla
    </button>   

    <button (click)="goCooperativa()" class="button">
        <img class="iconbut" src="assets/img/trabajadoresproduccion.png"/>
        <br>
        Moldeado
    </button>   

    <button (click)="goCooperativa()" class="button">
        <img class="iconbut" src="assets/img/tren-de-carga.png"/>
        <br>
        Cargue
    </button>   


    <button (click)="goCooperativa()" class="button">
        <img class="iconbut" src="assets/img/quemar.png"/>
        <br>
        Quema
    </button>   

    <button (click)="goCooperativa()" class="button">
        <img class="iconbut" src="assets/img/fuego.png"/>
        <br>
        Control Quema
    </button>   


    <button (click)="goCooperativa()" class="button">
        <img class="iconbut" src="assets/img/compras.png"/>
        <br>
        Venta
    </button>   


    <button (click)="goCliente()"  class="button">
        <img class="iconbut" src="assets/img/agente-de-centro-de-llamadas.png"/>
        <br>
        Clientes
    </button>

    <button (click)="goCooperativa()" class="button">
        <img class="iconbut" src="assets/img/tractor.png"/>
        <br>
        Cooperativas
    </button>   

    <button (click)="goTipoTransporte()" class="button ">
        <img class="iconbut" src="assets/img/transporte.png"/>
        <br>
        Tipo Transporte
    </button>

    <button (click)="goTransporte()"  class="button">
        <img class="iconbut" src="assets/img/camion-en-movimiento.png"/>
        <br>
        Transporte
    </button>

    <button (click)="goLadrillo()"  class="button">
        <img class="iconbut" src="assets/img/ladrillo.png"/>
        <br>
        Productos
    </button>

    <button (click)="goHorno()"  class="button">
        <img class="iconbut" src="assets/img/horno-de-piedra.png"/>
        <br>
        Hornos
    </button>

    <button (click)="goArcilla()"  class="button">
        <img class="iconbut" src="assets/img/corrimiento-de-tierras.png"/>
        <br>
        Arcilla
    </button>

    <button (click)="goUbicacion()"  class="button">
        <img class="iconbut" src="assets/img/valores.png"/>
        <br>
        Playas
    </button>

    <button (click)="goTrabajador()"  class="button">
        <img class="iconbut" src="assets/img/obrero.png"/>
        <br>
        Trabajadores
    </button>

    <button (click)="goAreaTrabajo()"  class="button">
        <img class="iconbut" src="assets/img/area.png"/>
        <br>
        AreaTrabajo
    </button>

    <button (click)="goGrupoTrabajo()"  class="button">
        <img class="iconbut" src="assets/img/trabajadores.png"/>
        <br>
        GrupoTrabajo
    </button>

    <button (click)="goTrabajadorGrupoTrabajo()"  class="button">
        <img class="iconbut" src="assets/img/transporte.png"/>
        <br>
        TrabajadorGrupoTrabajo
    </button>
</div>