<div class="card-body" style=" height:900px; overflow:auto;" >
    
    <button (click)="goCooperativa()" class="button">
        Registro
    </button>

    <button (click)="goTipoTransporte()" class="button ">
        Catecumenos
    </button>

    <button (click)="goTransporte()"  class="button">
        Catequistas
    </button>

    <button (click)="goLadrillo()"  class="button">
        Ventas
    </button>

    <button (click)="goHorno()"  class="button">
        Productos
    </button>

    <button (click)="goArcilla()"  class="button">
        Documentos
    </button>

    <button (click)="goCliente()"  class="button">
        Materiales
    </button>

    <button (click)="goUbicacion()"  class="button">
        Catequesis
    </button>

    <button (click)="goTrabajador()"  class="button">
        Catequesis
    </button>
</div>