<div class="card-body" style=" height:900px; overflow:auto;" >
    
    <button (click)="goCooperativa()" class="button">
        Cooperativas
    </button>

    <button (click)="goTipoTransporte()" class="button ">
        Tipo Transporte
    </button>

    <button (click)="goTransporte()"  class="button">
        Transporte
    </button>

    <button (click)="goLadrillo()"  class="button">
        Productos
    </button>

    <button (click)="goHorno()"  class="button">
        Hornos
    </button>

    <button (click)="goArcilla()"  class="button">
        Arcilla
    </button>

    <button (click)="goCliente()"  class="button">
        Materiales
    </button>

    <button (click)="goUbicacion()"  class="button">
        Playas
    </button>

    <button (click)="goTrabajador()"  class="button">
        Trabajadores
    </button>
</div>