<div class="container col-md-10">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Horno</h3>
        </div>
        <div class="card-body"style=" height:800px; overflow:auto;">
            <form action="">

                <div class="form-group">
                    <label for="">horno:</label>
                    <input [(ngModel)]="horno.nombre" name="nombre" type="text" class="form-control">
                </div>

                <button (click)="createHorno()" class="btn btn-danger">Agregar</button>
            </form>
        </div>
    </div>
</div>