<div class="container col-md-10">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Tipo de Pago</h3>
        </div>
        <div class="card-body"style=" height:800px; overflow:auto;">
            <form action="">

                <div class="form-group">
                    <label for="">Tipo:</label>
                    <input [(ngModel)]="tipodepago.tipo" name="tipo" type="text" class="form-control">
                </div>

                <button (click)="createTipodePago()" class="btn btn-danger">Agregar</button>
            </form>
        </div>
    </div>
</div>