.side-nav {
    background-color: #00296bff;
    height: 85%;
    padding-top: 16px;
    padding: 15px;
    color: white;
    border-radius: 20px;
}

.buttonopacity {
    background-color: #00296bff;
}

.buttonopacityicon {
    color: white;
}

.icon-padding {
    color: white;
    padding-right: 15px;
}

.text-padding {
    color: white;
    padding-top: 15px;
    padding-right: 30px;
}

.mat-list {
    text-align: center;
    padding-top: 90px;
}

.mat-item-hover:hover {
    opacity: 1;
    border-radius: 20px;
    background-color: #00509dff;
}

.list-position {
    bottom: 0;
    position: absolute;
    width: 88%;
}

.mat-drawer-content {
    overflow: hidden;
}

.side-nav-link {
    overflow: hidden;
}

mat-sidenav-container {
    height: 100%;
    padding: 20px;
    box-shadow: -5px 9px 12px -9px rgba(0, 0, 0, 0.75);
}

mat-toolbar {
    background-color: #00296bff;
    color: white;
    opacity: 0.98;
    box-shadow: -5px 9px 12px -9px rgba(0, 0, 0, 0.75);
}

.large-spacer {
    flex: 1 1 auto;
}